html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen;
  overflow: scroll;
}

.page{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 45, 63);
  background-image: url(../public/Background/password_background_image.jpg);
}

.passwordGenerator{
  background-color: rgba(22, 26, 32, 0.144);
  backdrop-filter: blur(20px);
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  height: 90vh;
  width: 90vw;
  box-shadow: 0 0 25px 5px rgb(22, 26, 32);
  border-radius: 5px;
  gap: 5%;
  
}

.passwordContainer{
  background: #09265d;
  border-radius: 5px;
  margin-top: 5%;
  height: 20%;
  width: 80%;
  /* padding: 5%; */
  display: flex;
  align-self: center;
  justify-content: center;
  position: relative;
  /* gap: 2%; */
}

.passwordContainer p{
  font-family: consolas;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  position: relative;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  justify-content: center;
  word-wrap: break-word ;
  overflow: auto;
}

.copyButton{
  align-self: center;
  background: #09265d;
  border: none;
  color:white;
  height: 100%;
  border-radius: 5px;
  /* width: 150%; */
  transition: background-color .2s;  

}

.copyButton:hover{
  background: #1553c7;
}

.copyIcon{
  
}
.passwordForm{
  display: flex;
  flex-direction: column;
}

.passwordForm .passwordInput__label{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 2px solid black;
  padding-left: 5%;
  padding-right: 5%;
  color: rgb(255, 255, 255);
  font-family: consolas;
  font-size: 1.2rem;
}

.passwordForm .passwordInput__label:hover{
  border-bottom: 2px solid rgb(255, 255, 255);
}

.passwordForm .passwordInput__input{
  background: none;
  height: 2rem;  
  width: 4rem;
  border:none;
  color: rgb(255, 255, 255);
  font-family: consolas;
  /* text-align: center; */
  font-size: 1.5rem;
  margin-bottom: 1rem;
}



.SubmitContainer{
  align-self: center;
  display: flex;
  /* margin-top: 5%; */
  /* width: 100%; */
}

.SubmitContainer__button{
  background: rgb(255, 255, 255);
  color: none;
  font-size: 1.5rem;
  border: solid 2px rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 5%;
  height: 150%;
  width: 100%;
}



